.update-landing {
  .swiper-container {
    .swiper-wrapper {
      .swiper-slide {
        .home-sw03-slidecont {
          .card {
            .card-body {
              h5 {
                font-family: $noto-light;
                padding-bottom: 20px;
                margin-bottom: 0;
              }

              .text-muted {
                font-size: 14px;
                color: #898989 !important;
                margin-bottom: 7px !important;
              }

              .sw03-card-text-sup {
                font-size: 14px;
                color: #898989 !important;
                margin-bottom: 20px !important;
              }

              .card-description {}
            }
          }
        }
      }
    }
  }
}

.update-newsroom-detail {
  .activity-camp {
    margin-bottom: 75px;

    .container {
      padding: 0;

      .activity-sec {
        margin-bottom: 20px;

        .img-card {
          margin-right: 21px;

          img {
            min-width: 100px;
            min-height: 57px;
            border-radius: 10px;
          }
        }

        .activity-row {
          display: flex;
          align-items: center;
          height: 60px;

          .information {
            .title {
              margin-bottom: 0;
              font-size: 16px;
            }
          }
        }
      }
    }
  }

}

.connex-comp-1 {
  background-color: #f9f9f9;

  .speaker-row {
    display: flex;
    align-items: flex-start;

    .speaker-row {
      display: flex;
      flex-wrap: wrap;
    }

    .column-left {}

    .column-right {
      .speakers-sect {
        justify-content: flex-start;
        display: flex;
        flex-wrap: wrap;

        .speaker-group {
          margin-right: 20px;
          width: 250px;
          margin-bottom: 26px;
          min-height: 102px;
          padding-right: 10px;
        }
      }
    }
  }
}

.connex-comp-2 {
  .speaker-row {
    display: flex;
    align-items: flex-start;

    .speaker-row {
      display: flex;
      flex-wrap: wrap;
    }

    .column-left {}

    .column-right {
      .event-timing {
        margin-bottom: 45px;
      }

      .event-topics {
        padding: 0;
        margin-bottom: 36px;
        &:last-child{
          margin-bottom: 0px;
        } 

        h5 {
          margin-bottom: 16px;
        }

        ul {
          list-style: disc;
          padding-left: 23px;

          li {
            margin-bottom: 14px;
            padding-left: 5px;
          }
        }
      }
    }
  }

}

.connex-comp-3 {
  background-color: #f9f9f9;

  .speaker-row {
    display: flex;
    align-items: flex-start;

    .speaker-row {
      display: flex;
      flex-wrap: wrap;
    }

    .column-left {}

    .column-right {
      .downloadable {
        .download-content {
          display: flex;
          //flex-wrap: wrap;
          flex-flow: row nowrap;
          justify-content: space-between;
          border-bottom: 1px dotted #d8d8d8;
          padding: 15px 0;
          &:last-child{
            border-bottom: 0px dotted #d8d8d8;
          }

          p {
            color: $secondary;
            margin-right: 1rem;
            //width: calc(100% - 190px);
          }
        }
      }
    }
  }
}


@media (max-width: 767.98px) {
  .update-newsroom-detail .activity-camp .container .activity-sec {
    display: flex;

    .img-card {
      width: auto;
    }

    .activity-row {
      margin-top: 0px;
    }
  }
}


@media (max-width: 576px) {
  .connex-comp-1 {
    .speaker-row {
      padding: 0;

      .column-left {
        margin-bottom: 30px;
      }

      .column-right {

        .speakers-sect {
          .speaker-group {
            margin-bottom: 20px;
            min-height: initial;
            width: 100%;
            margin-right: 0;

            p {
              margin: 0;
            }
          }
        }
      }

    }
  }

  .connex-comp-2 {
    .speaker-row {
      padding: 0 20px;

      .column-left {
        margin-bottom: 30px;
        width: 100%;
      }

      .column-right {
        .event-timing {
          margin-bottom: 20px;
        }

        .event-topics {
          margin-bottom: 16px;
        &:last-child{
          margin-bottom: 0px;
        } 
          h5 {
            margin-bottom: 10px;
          }

          ul {
            li {
              margin-bottom: 14px;
              padding-left: 5px;
            }
          }
        }
      }


    }
  }

  .connex-comp-3 {
    .speaker-row {
      padding: 0 20px;

      .column-left {
        h3 {
          margin-bottom: 0;
        }

        margin-bottom: 30px;
        width:100%;
      }

      .column-right {
        .downloadable {
          .download-content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            border-bottom: 1px dotted #d8d8d8;
            padding: 15px 0;

            p {
              font-size: 12px;
              max-width: 210px;
            }
          }
        }
      }

    }
  }
}