.filter-results-compo{
    .filter-results-list{
        padding: 0px;
        margin-bottom: 0px;
        flex-wrap: wrap;
        li{
            display: inline-block;
            border-radius: 30px;
            border: 1px solid #e0e0e0;
            font-family: $noto-light;
            font-size: 14px;
            padding: 8px 40px 8px 20px;
            margin: 0px 8px 8px 0px;
            position: relative;
            a{
                position: absolute;
                top: 6px;
                right: 8px;
                img{
                    width: 20px;
                }
            }
        }
    }
    .filter-clear{
        margin-left: 30px;
        a{
            font-size: 14px;
            color: $primary;
            font-family: $heavy;
            padding: 10px 0px;
            &:hover{
                color: #d41313;
            }
        }
    }
}


// -----------
//Media Queries
//---------------
@media (max-width: 991.98px) {
    .filter_section{
        display: none !important;
    }
    .min-lg-web-only{
        display: none;
    }
}
@media (max-width: 767.98px) { 
    
}
@media (max-width: 575.98px) {
    
}
@media (max-width: 375px) {
    
}
@media (max-width: 320px) {
    
}


