.p-home-list-02 {
    width: 100%;



    .home-list02-cardcont {
        @extend %cardbox-shadow;
        padding: 1rem;
        width: 100%;
        background-color: $white;

        .list02-card-img {
            margin-bottom: 5px;
            width: 40px;
            height: 40px;
        }
    }

    .p-home-list-02-swiper-container {
        .swiper-wrapper {
            margin: 0 -10px;

            .swiper-slide {
                padding: 10px;

                a {
                    color: $secondary;

                    &:hover {
                        color: $secondary;
                    }
                }
                &:last-child{
                    .home-list02-cardcont {
                        background-image: linear-gradient(126deg, #ed611c 8%, #ed1c24)!important;
                        h6{
                            color: $white;
                        }
                
                        
                    }

                   
                }
            }
        }

    }
}

/* .gr-bg-orange {
    background-image: linear-gradient(126deg, #ed611c 8%, #ed1c24)!important;
}
 */

//---------------
//Media Queries
//---------------

//@include p-home-list-02--lg(); 1200px
@mixin p-home-list-02--lg() {}

//@include p-home-list-02--md(); 992px
@mixin p-home-list-02--md() {
    .p-home-list-02 {
        .p-home-list-02-swiper-container {
            .swiper-wrapper {
                margin: 0;

                .swiper-slide {
                    //@extend %swiper-slide-padding;
                    padding-right: 7.5px;
                    padding-left: 7.5px;

                    &:first-child {
                        padding-left: 15px;
                    }

                    &:last-child {
                        padding-right: 15px;
                    }
                }
            }
        }


        .margin-15 {
            margin: 0 -15px;
        }

    }
}

//@include p-home-list-02--sm(); 768px
@mixin p-home-list-02--sm() {}

//@include p-home-list-02--xs(); 576px
@mixin p-home-list-02--xs() {}

//@include p-home-list-02--xs(); 375px
@mixin p-home-list-02--375() {}

//@include p-home-list-02--360(); 360px
@mixin p-home-list-02--360() {}

//@include p-home-list-02--320(); 320px
@mixin p-home-list-02--320() {}