.p-home-list-03 {
    width: 100%;



    .home-list02-cardcont {
        @extend %cardbox-shadow;
        padding: 1rem;
        width: 100%;
        background-color: $white;

        .list02-card-img {
            margin-bottom: 5px;
            width: 40px;
            height: 40px;
        }
    }

    .p-home-list-03-swiper-container {
        .swiper-pagination{display: none;}
        .swiper-wrapper {
            //margin: 0 -10px;

            .swiper-slide {
                padding: 10px;
                height: auto;
                a {
                    color: $secondary;
                    display: flex;
                    height: 100%;

                    &:hover {
                        color: $secondary;
                    }
                }
            }
        }

    }
}

.gr-bg-orange {
    background-image: linear-gradient(126deg, #ed611c 8%, #ed1c24)!important;
}





// -----------
//Media Queries
//---------------

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
    
}
// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .p-home-list-03 {
        .p-home-list-03-swiper-container {
            padding-bottom: 40px;
            .swiper-pagination{display: block;}
            .swiper-wrapper {
                margin: 0;

                .swiper-slide {
                    //@extend %swiper-slide-padding;
                    padding-right: 7.5px;
                    padding-left: 7.5px;

                    &:first-child {
                        padding-left: 15px;
                    }

                    &:last-child {
                        padding-right: 15px;
                    }
                }
            }
        }


        .margin-15 {
            margin: 0 -15px;
        }

    }
   
}
// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
   
}
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 576px) {
   
}
// iOS 6 devices (portrait phones, less than 425px)
@media (max-width: 425px) {}

// iOS 6+ devices (portrait phones, less than 414px)
@media (max-width: 414px) {}

// Redmi pro devices (portrait phones, less than 393px)
@media (max-width: 393px) {}



// iOS 6 devices (portrait phones, less than 375px)
@media (max-width: 375px) {}



// Android devices (portrait phones, less than 360px)
@media (max-width: 360px) {}


// iOS 5 devices (portrait phones, less than 320px)
@media (max-width: 320px) {}