.two_colum_cards {
    display: flex;

    .corp-desccards-slidecont {
        max-height: 100% !important;
        width: calc(49.3% - 13px) !important;
        margin-right: 20px;
        margin-bottom: 20px;

        .img-cont img {
            //height:325px;
        }
        }

        .corp-desccards-slidecont:nth-child(2n) {
            margin-right: 0px !important;
        }

        .corp-desccards-slidecont:nth-child(3n) {
            margin-right: 20px !important;
        }
    }


    @media (max-width: 575.98px) {
        .two_colum_cards {
            display: flex;

            .corp-desccards-slidecont {
                max-height: 100% !important;
                width: calc(100% - 0px) !important;
                margin-right: 0px;
                margin-bottom: 20px;

                .img-cont img {
                    //height: 179px;
                }
            }

            .corp-desccards-slidecont:nth-child(3n) {
                margin-right: 0px !important;
            }
        }
    }