.corp_abt_Other_info {
  //border:1px solid #999;

  .a-mr-37 {
    margin-right: 37px;
  }

  .a-mb-72 {
    margin-bottom: 72px
  }

  .corp-infocards {
    display: flex;
    flex-flow: row wrap;


    .list-cardstyled {
      padding-left: 0;
      list-style: none;
      min-height: auto;
      margin-right: 20px;
      margin-bottom: 20px;
      width: calc(50% - 10px);

      &:nth-child(2n) {
        margin-right: 0px;
      }
    }
  }

  

  .media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    background: #fff;
    padding: 40px;
    border-radius: 14px;
    min-height: auto;
    height: 100%;
    .img-size{
      width: 64px;
      height: 64px;
    }
  }


  .u-shadow-v11 {
    box-shadow: 0 13px 30px 0 rgba(0, 0, 0, 0.05);

    .media-body {
      -ms-flex: 1;
      flex: 1;

      h6 {
        font-family: $heavy;
        font-size: 22px;
        margin-bottom: 9px;
        color: #333333;
      }

      p {
        font-size: 14px;
        color: #333333;
        margin-bottom: 7px;
      }

      .icon-height-64 {
        height: 64px;
      }

      .icon-width-64 {
        width: 64px !important;
      }
    }
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .card {
    flex: 0 0 200px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  }
}






.corp-abt-thumb-slider {
  
  .year-sec-cont{
    align-items: flex-start;
    margin-bottom: 40px;
    .year-container {
     width:  60%;
     .year-desc{
       max-height: 172px;
       overflow-y: auto;
       padding-right: 10px;
       scrollbar-width: thin;
       scrollbar-color: $primary #d8d8d8;
       border: 0;
       &::-webkit-scrollbar {
        width: 6px;
        border-radius: 20px;
      }
      &::-webkit-scrollbar-track {
        background: #d8d8d8;
        border-radius: 20px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $primary;
        border-radius: 20px;
        border: 0px solid #d8d8d8;
      }



     }
    }
    .image-round-cont{
      margin-left:5%;      
      width:35%;
    }

  }

  


  .year-cont {
    height: 22px;
    padding: 18px 10px;
    border-top: 2px solid #eeeeee;
    color: #211e20;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
  }


  .swiper-slide-thumb-active {
    .year-cont {
      border-top: 2px solid $primary;
      color: $primary;
    }

  }

  .c-about-thumbs {
    position: relative;
  }

  .sw-btn-cont-thumbs {
    position: absolute;
    top: 20px;
    width: 100%;
    

    .swiper-button-next,
    .swiper-button-prev {

      position: relative;
      width: 22px;
      height: 22px;
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0);
      background-color: transparent;
      padding: 0px;

      img {
        width: 12px;
      }

      margin:0;
    }


    .swiper-button-next.swiper-button-disabled,
    .swiper-button-prev.swiper-button-disabled {
      opacity: 1;

      img {
        opacity: 0.1;
      }
    }

    .swiper-button-next,
    .swiper-container-rtl .swiper-button-prev {
      right: auto;
      left: auto;
    }

    .swiper-button-prev,
    .swiper-container-rtl .swiper-button-next {
      left: auto;
      right: auto;
    }

    .swiper-button-prev::after {
      content: ""
    }

    .swiper-button-next::after {
      content: ""
    }
  }

}


.corp-abt-cstr-img-cont {
  max-width: 1100px;

  img {
    width: 100%;
  }
}


.pg2-comp-multilinetext {
  .section-body1 {
    // @include multi-Truncate(18px, 1.2, 3);
  }
}


//12345678
.c-moreinfo {
  position: relative;


  &-cont {
    align-items: center;
    flex-wrap: wrap;

    .img-cont {
      margin-right: 40px;
     picture {
       img{
         width: 110px;
         height: 110px;
       }

      }
    }

    .heading-info-section{
      width: calc(100% - 350px);
    }

    .section-btn-cont {
      margin-left: auto;
    }
  }

}


//---------------
//Media Queries
//---------------

//@include corp-other-info--lg(); 1200px
@mixin corp-other-info--lg() {}

//@include corp-other-info--md(); 992px
@mixin corp-other-info--md() {


  .a-mb-25 {
    margin-bottom: 25px;
  }

  .corp_abt_Other_info .media {
    padding: 20px
  }

  .corp_abt_Other_info .a-mr-37 {
    margin-right: 23px;
  }

  .corp_abt_Other_info .u-shadow-v11 .media-body h6 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .corp_abt_Other_info .u-shadow-v11 .media-body p {
    font-size: 12px;

  }



}

//@include corp-other-info--sm(); 768px
@mixin corp-other-info--sm() {



}





//@include corp-other-info--xs(); 576px
@mixin corp-other-info--xs() {
  .corp_abt_Other_info .media .img-size {
    width: 40px;
    height: 40px;
}

  .corp_abt_Other_info_pop {
    height: 100%;

    .corp-infocards {
      height: 100%;

      .list-cardstyled {
        height: 100%;
      }

      .media {
        padding: 20px;
        align-items: center;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        height: 100%;
        padding-top: 60px;


        .media-body {
          text-align: center;
        }

        .a-mr-37 {
          margin-right: 0;
          margin-bottom: 20px;
        }
      }
    }

  }

//12345678
  .c-moreinfo {
    position: relative;

    &-cont {
      align-items: center;
      flex-wrap: nowrap;
      flex-direction: column;
      text-align: center;

      .img-cont {
        margin-right: 0px;
        margin-bottom: 20px;
      }
      .heading-info-section{
        width: 100%;
      }

      .section-btn-cont {
        margin-left: 0;
        margin-top: 30px;
      }

    }
  }



  .corp_abt_Other_info {
    .corp-infocards {
      flex-flow: column wrap;

      .list-cardstyled {

        margin-right: 0px;
        margin-bottom: 20px;
        width: 100%;

        &:nth-child(2) {
          margin-right: 0px;
        }
      }
    }
  }

  .corp-abt-thumb-slider {

    .year-sec-cont{
      align-items: flex-start;
      flex-direction: column;
      margin-bottom: 40px;
      .year-container {
       width: 100%;;
       order: 2;
       .year-desc{
         max-height: 150px;
         overflow-y: auto;
       }
      }
      .image-round-cont{
        order: 1;
        margin-left:0%;      
        width: 100%;;
        margin-bottom: 24px;
      }
  
    }

    .sw-btn-cont-thumbs .swiper-button-prev {
      left: -10px;

    }

    .sw-btn-cont-thumbs .swiper-button-next {
      right: -10px;
    }

    .sw-btn-cont-thumbs .swiper-button-prev {
      margin-right: auto;
    }

    .sw-btn-cont-thumbs .swiper-button-prev {
      margin-right: auto;
    }
    .corp-abt-thumb-slider .sw-btn-cont-thumbs {
      top: 22px;
  }
    .sw-btn-cont-thumbs {



      .swiper-button-next,
      .swiper-button-prev {

        position: relative;
        width: 22px;
        height: 22px;
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0);
        background-color: transparent;
        padding: 0px;

        img {
          width: 22px;
        }

        margin:0;
      }
    }
  }




}

//@include corp-other-info--xs(); 375px
@mixin corp-other-info--375() {}

//@include corp-other-info--360(); 360px
@mixin corp-other-info--360() {}

//@include corp-other-info--320(); 320px
@mixin corp-other-info--320() {}