.p-roam-internet {
   .product_card-img img {
      width: 100% !important;
   }
}

.getroam-sec {
   .d-flex {
      width: 80%;
   }

   .d-flex div {
      width: calc(25% - 20px);
      margin: 10px;
   }
}

.getroam-sec-v1 {
   .d-flex {
      width: 50%;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
   }

   .d-flex div {
      width: calc(25% - 20px);
      margin: 10px;
   }
}

@media (max-width: 575.98px) {
   .getroam-sec {
      .d-flex {
         width: 100%;
      }
   }
}

@media (max-width: 768px) {
   .getroam-sec-v1 {
      .d-flex {
         width: 100%;
      }

      .d-flex div {
         width: calc(23.9% - 7px);
         margin: 5px;
      }
   }


}