// used under global.scss
.min-xs-font-20-16 {
    font-size: 20px;
}


// Cycle_Capped_Information
.Cycle_Capped_Information {}

// first card
.cci_card {
    padding: 30px;
    background: #FFF;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
    border-radius: 16px;

    .cci_card_sec1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .cci_card_sec1_v1 {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
    }

    .cci_card_info {
        display: flex;
        background: #CCEDFF;
        border-radius: 12px;
        margin: 16px 0px;
    }
}

.cci_card_usage {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.cci_card_usage img {
    width: 71px;
    height: 71px;
}

.cci_card_bonus {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.width100 {
    width: 100%;
}

.usage_primary {
    color: red;
}

.me-20-16 {
    margin-right: 20px;
}

.ms-10 {
    margin-left: 10px;
}

.cci_card_bonus_detail {
    background: $default-bg;
    border-radius: 16px;
    color: $secondary;
    text-align: center;
    min-width: 160px;
    padding: 10px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    span {
        font-family: $noto-bold;
        font-size: 12px;
    }

    .cci_support_txt {
        font-family: $noto-bold;
        color: #aaaaaa;
        font-size: x-small;
    }
}

.cci_card_info_detail {
    margin: 16px;
    width: 100%;
    display: flex;
    align-items: center;
}

.cci_bonus_lst {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.cci_bonus_lst_v1 {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;

    .cci_card_bonus_detail_v1 {
        width: 246px;
    }
}

.min-xs-font-16-14 {
    font-size: 16px;
}

.cci_card_support_txt {
    color: #437B9B;
    align-items: center;
}

.whitecard {
    background-color: #FFF;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
    padding: 20px;
    width: 250px;
    margin-left: 0px;
}

.whitecard_primary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.whitecard_secondary {
    display: flex;
}

.cci_support_txt_gray {
    background: #F4F4F4;
    border-radius: 100px;
    padding: 4px 16px;
    line-height: 22px;
    margin-left: 10px;
}

.cci_card_noshadow {
    box-shadow: none;
    padding: 0px;
    margin-bottom: 20px;
}

.widthauto {
    width: auto;
}

.cci_card_sec1_v2 {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

.mxwd235 {
    max-width: 235px;
}

.min-xs-font-16-12 {
    font-size: 16px;
    font-family: $noto-light;
}

.disflx_dirclm {
    display: flex;
    flex-direction: column;
}

.disflx_dirrow {
    display: flex;
    flex-direction: row;
}

.disflx_dirrow1 {
    display: flex;
    flex-direction: row;
}

.acc_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    background: #F9F9F9;
    border-radius: 16px;
    width: 100%;
    padding: 16px;

    h4 {
        font-size: 16px;
        line-height: 19px;
        color: #ED1C24;
    }
}

.inlinesize140 {
    inline-size: 140px;
    line-height: 14px;
    margin-bottom: 4px;
}

.roaminlist {
    list-style: disc;
    font-family: $noto-light;
}

.roamingcard {
    padding: 0px 0px 16px 0px;
    border-bottom: 1px solid #E0E0E0;
    width: 100%;
}

.roamingcard2 {
    padding: 16px 0px;
    width: 100%;
}
.min-wid215
{
    min-width: 215px;
}
@media(max-width: 1024px) {
    .cci_bonus_lst_v1 {
        .cci_card_bonus_detail_v1 {
            width: auto;
        }
    }
}
@media (max-width: 768px) {
    .cci_card {

        padding: 16px;

        .cci_card_sec1 {
            display: grid;
        }
    }

    .cci_card_usage {
        width: 100%;
    }

    .cci_card_bonus {
        display: table-row;
        width: 100%;
        margin-top: 10px;
        padding: 0px;
    }

    .cci_card_bonus_detail {
        min-width: 47%;
        margin: 4px;

        img {
            display: none;
        }
    }

    .min-xs-font-20-16 {
        font-size: 16px;
    }

    .min-xs-font-16-14 {
        font-size: 14px;
    }

    .cci_card_info_detail img {
        width: 20px;
        height: 20px;
    }

    .whitecard {
        width: 206px;
        padding: 16px;

        img {
            display: block;
        }
    }

    .me-20-16 {
        margin-right: 16px;
    }

    .mb3 {
        margin-bottom: 3px;
    }

    .disflx_dirrow {
        flex-direction: column;
        width: 100%;
    }

    .disflx_dirrow1 {
        width: 100%;
    }

    .inlinesize140 {
        width: 100%;
        line-height: 1.5;
        margin-bottom: 0px;
    }

    .ms-10 {
        margin-left: 0px;
    }
}

@media (max-width: 425px) {}

@media (max-width: 375px) {}

@media (max-width: 320px) {}