.roaming_search_noresult
{
    text-align: center;
}
.roaming_search_noresult p
{
    font-family: "NotoSans-Light", "Arial";
    font-size: 16px;
    margin-top: 16px;
}
.roaming_search_noresult img{
    height: 129px;
    width: 129px;
    margin-top: 20px;
}
.roaming_search_noresult h3
{
    font-size: 24px;
    margin-top: 24px;
}
@media only screen and (max-width: 768px) {
.roaming_search_noresult p
{
    font-size: 14px;
    margin-top: 10px;
}
.roaming_search_noresult img{
    height: 92px;
    width: 92px;
}
.roaming_search_noresult h3
{
    font-size: 18px;
}
  }