.text-desc-swp-compo-swiper{
    padding-bottom: 40px;
    &.max-slide-3{
        .swiper-pagination{
            display: none;
        }
    }
}
.tds01-card{
    h4{
        font-size: 24px;
    }
    ul {
        margin: 23px 0px;
        li{
            margin-bottom: 15px;
            //font-family: $noto-light;
            &:last-child{
                margin-bottom: 0px;
            }
        }
    }
}
// -----------
//Media Queries
//---------------
@media (max-width: 1199.98px) {

}
@media (max-width: 991.98px) {
    .tds01-card{
        h4{
            font-size: 18px;
        }
    }
}
@media (max-width: 767.98px) {
  
}
@media (max-width: 576px) {
    .tds01-card{
        h4{
            font-size: 16px;
        }
        ul {
            margin: 16px 0px;
            li{
                font-size: 14px;
            }
        }
    }
}
