<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Indosat::Network Coverage</title>

    <!--/* -- Brand Favicon -- */-->
    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">

    <!-- /* --  fontawesome CSS V 5 -- */ 
    <link rel="stylesheet" href="assets/css/imports/vendors/fontawesome-all.min.css">
    -->
    <!-- /* -- Swiper CSS V 6.1.1 -- */ -->
    <link rel="stylesheet" href="assets/css/imports/vendors/swiper-bundle.min.css">

    <!--/* -- Custom CSS V 1.0 -- */-->
    <link rel="stylesheet" href="assets/css/indosatwebv1.css">


</head>

<body>
    <!-- onload="myToaster2()" -->





    <section class="multi-rows-swp-01 py-72" id="SECIDFREEDOM_!TIMETICKS!" ng-controller="tarifflocationcontroller"
        ng-init="component='p-home-swp-03';eleheight='380px';packreqtype='!TARIFFTYPE!';productcatname='!PRODUCTCATG!';
   productids='!PRODUCTIDS!';elementtitle='!ELEMENTTITLE!';elementdesc='!ELEMENTDESC!';ticks='!TIMETICKS!';getproducts();  ">
        <div class="container-fluid container-lg">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="mb-72 md-min-text-center">Choose your preferred <span class="text-primary">
                            !ELEMENTTITLE! </span> plan</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div
                        class="swiper-container multi-rows-swp-01-container height-100p  multi-rows-swp-01-container!TIMETICKS! ">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide" ng-repeat="pack in allproducts">
                                <div class="card product_card">
                                    <div class="product_card-img">
                                        <picture>
                                            <img ng-src="{{pack.img}}" alt="..." title="..">
                                        </picture>
                                        <div class="product_card-img-info">
                                            <h5 ng-bind="pack.name">

                                            </h5>
                                        </div>
                                    </div>
                                    <div class="product_card-body">
                                        <div class="benefit mb-4">
                                            <h6 class="upper-title">$$BENEFIT$$</h6>

                                            <div class="d-flex align-items-center" ng-show="pack.mainquota!=null">
                                                <picture><img src="/indosatassets/images/personal/quota.svg" alt="..."
                                                        title=".."></picture>
                                                <p class="ml-2 mb-0">Main quota <span>{{pack.mainquota}} GB</span></p>
                                            </div>

                                            <div class="d-flex align-items-center" ng-show="pack.streamquota!=null">
                                                <picture><img src="/indosatassets/images/personal/streaming-app.svg"
                                                        alt="..." title=".."></picture>
                                                <p class="ml-2 mb-0">Streaming quota <span> {{pack.streamquota}}
                                                        GB</span></p>
                                            </div>

                                            <div class="d-flex align-items-start" ng-repeat="appitm in pack.appitems"
                                                ng-if="appitm.title!=null && appitm.title.length>5">
                                                <picture><img src="/indosatassets/images/personal/streaming-app.svg"
                                                        alt="..." title=".."></picture>
                                                <p class="ml-2 mb-0"> {{appitm.title}}
                                                    <span ng-bind="appitm.icon"> </span>
                                                </p>
                                            </div>

                                            <div class="d-flex align-items-center" ng-show="pack.calltoim3!=null">
                                                <picture><img src="/indosatassets/images/personal/call.svg" alt="..."
                                                        title=".."></picture>
                                                <p class="ml-2 mb-0"><span>{{pack.calltoim3}} </span> call to IM3
                                                    Ooredoo </p>
                                            </div>


                                            <div class="d-flex align-items-center" ng-show="pack.smstoim3!=null">
                                                <picture><img src="/indosatassets/images/personal/sms.svg" alt="..."
                                                        title=".."></picture>
                                                <p class="ml-2 mb-0"><span>{{pack.smstoim3}}</span> SMS to IM3 Ooredoo
                                                </p>
                                            </div>

                                            <!--     <div class="d-flex align-items-center">
                                                       <picture><img src="assets/images/personal/quota-app.svg" alt="..." title=".."></picture>
                                                       <p class="ml-2 mb-0">Discount smartphone - 24 month Rp1.800.000 </p>
                                                   </div>
   
                                                   <div class="d-flex align-items-center">
                                                       <picture><img src="assets/images/personal/quota-app.svg" alt="..." title=".."></picture>
                                                       <p class="ml-2 mb-0">Discount smartphone - 24 month Rp1.800.000</p>
                                                   </div>
                                               </div>-->

                                            <div class="price mb-3 fixed-h">
                                                <h6 class="upper-title">$$PRICE$$</h6>

                                                <h3>Rp {{pack.price}} / <span> {{pack.validitytxt}} </span></h3>
                                            </div>
                                        </div>
                                        <div class="btn-link-cont d-flex justify-content-between ">
                                            <a ng-show="showbuybutton(pack)" ng-click="buynow(pack)"
                                                class=" btn btn-primary btn-sm ">$$BuyNow$$</a>
                                            <a class="button-link " ng-click="detailedpage(pack)">$$See details$$
                                                <picture><img class="link-arrow"
                                                        src="/indosatassets/images/detail-red.svg" alt="arrow">
                                                </picture>
                                            </a>
                                        </div>
                                    </div>
                                </div>



                            </div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <!-- Indira - Chat Bot Starts -->
    <div class="footer-fixed-icons">
        <a href="#" id="back-to-top" class="back-to-top"><img src="assets/images/detail-red-up.svg"
                alt="back-to-top"></a>
        <img id="flip" src="assets/images/indira-4-new.png" alt="">
        <div id="panel2">
            <div class="campaign-panel-bar">
                <img src="assets/images/greetingtosater.png" alt="">
                <div class="campaign-info">
                    <h1 class="Title-campaign-info">
                        Greetings from us
                    </h1>
                    <p class="campaign-desc">
                        In order to improve our service, we would love you to complete a quick survey about your
                        latest experience with our website.
                    </p>
                    <div class="foot-buttons">
                        <a href="" class="btn btn-primary"> SURE, ASK ME </a>
                        <a id="NoThanks" class="button-link">No, thank you</a>
                    </div>

                </div>

            </div>


        </div>

    </div>
    <!-- Indira - Chat Bot Ends -->

    <!--/* -- jQuery JS V 3.3.1 -- */-->
    <script type="text/javascript" src="assets/js/jquery-3.3.1.min.js"></script>
    <!--/* -- bootstrap JS Bundle V  v4.5.2 -- */-->
    <script type="text/javascript" src="assets/js/bootstrap.bundle.min.js"></script>
    <!--/* -- Swiper JS V V 6.1.1 -- */-->
    <script type="text/javascript" src="assets/js/swiper-bundle.min.js"></script>

    <!-- mega-menu js st-->

    <script src="assets/js/mega-menu/mobile-mega-menu.min.js"></script>
    <script src="assets/js/mega-menu/main-mega-menu.js"></script>
    <!-- mega-menu js end-->
    <script src="assets/js/mega-menu/mega-footer.js"></script>

    <!--/* -- custom JS V 1.0 -- */-->
    <script type="text/javascript" src="assets/js/custom.js"></script>

    <!-- Initialize Swiper -->
    <script>
        $(document).ready(function () {
            $('.var1-box:has(p)').addClass("align-items-start");
            $('.temp4-var1:has(p)').addClass("align-items-start");
        });
    </script>
</body>

</html>