.gobal-alert-section{
    .alert-secondary{font-size:14px;background:#f4f4f4;color:#898989;border:1px solid #f4f4f4;}
    .alert-dismissible .close{padding:0.55rem 1.25rem;}
}
.gobal-bg-warning{
    .bg-warning{font-family:$heavy;font-size:12px;width:100%;background:#ffee93;padding:8px 20px;color:#000;margin:10px 0px;}
    .bg-warning img{background:transparent;width:25px;border-radius:0px;margin-right:5px;}
}