.list-st-disc li {
  list-style: disc;
  margin-bottom: 10px;
}

//product card
.productheader {
  margin-bottom: 57px;
}

.global_product_hcard {
  .imt-50 {
    margin-top: 50px;
  }

  .controwsec {
    width: calc(100% - 122px);
  }

  h5 {
    font-size: 16px;
    margin-bottom: 25px;
    max-height: 2.4em;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
  }

  .card-body {
    padding: 20px;
  }

  .card-deck .card {
    font-size: 12px;
    flex: 0 31.5%;
    margin-right: 5px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-bottom: 20px;
  }

  picture img {
    width: 100px;
  }

  .indo_product_sec {
    width: 100%;
    height: auto;
    margin-bottom: 10px;

    .colleft {
      width: 50%;
      overflow: hidden;
      //display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      white-space: normal;
      height: 20px;
      display: flex;

      img {
        width: 19px;
      }

      .bulanimg-cont{
        background: url(../images/ic_bullan_bg.PNG) 0 0 no-repeat;
        width: 20px; height: 20px;
        background-size: 20px 20px;
        margin-right: 5px;
        text-align: center;        
          font-family: $heavy;
          color: $primary;
          font-size: 7px;
          padding: 5px 0;
        
      }
    }

    .colright {
      font-family:$heavy;
      width: 50%;
      overflow: hidden;
      text-align: right;
      //display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      white-space: normal;
      height: 20px;
    }
  }

  .product-row {
    font-family: $heavy;
    width: 100%;
    height: 33px;
    color: #c4a369;
    padding: 8px;
    background: #fff5c3;
    text-align: center;
    border-radius: 4px;
    margin-top: 13px;
    .thumb{
      display: inline-block;
      margin-left: 2px;
      img{width: 12px;}
    }

    label {
      color: #ed2324;
    }
  }
}


//googlemap st
.google-maps {
  position: relative;
  min-height: 100%;
  height: auto;
  overflow: hidden;
  top: 250px;

  iframe {
    width: 100%;
  }

}

.googlemapsec {
  position: relative;

  .tem-header-section {
    position: absolute;
    z-index: 999;
    width: 100%;
    max-width: none;
    min-height: 350px;
    background-image:
      linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.83)),



  }
}


@media (max-width: 1024px) {
  .global_product_hcard {
    h5 {
      width: 100%;
      text-align: center;
      margin-top: 15px;
    }

    .indo_product_sec {
      width: 70%;
      margin: 0 auto 10px;
    }

    .card-deck .card {
      -webkit-box-flex: 0;
      -ms-flex: 0 31.5%;
      flex: 0 31%;
    }

    .controwsec {
      width: calc(100% - 0px);
      margin-left: 0px !important;
    }
  }
}

@media (max-width: 768px) {
  .global_product_hcard {
    .card-deck .card {
      -ms-flex: 0 31.5%;
      flex: 0 47%;
    }
  }

}

@media (max-width: 480px) {
  .productheader {
    margin-bottom: 20px;
  }

  .global_product_hcard {
    .indo_product_sec {
      width: 70%;
      margin: 0px auto 10px;
    }

    h5 {
      margin-bottom: 23px;
      width: 100%;
      text-align: center;
      margin-top: 24px;
    }

    picture img {
      width: 100%;
    }

    .controwsec {
      width: calc(100% - 0%);
      margin-left: 0px !important;
    }
  }

  .list-st-disc li {
    font-size: 12px;
  }
}