.c_ourcomp_digital_telco{

 /* .image-round-cont{position:relative;border-radius:16px;overflow:hidden;}    */ 
}
@media (max-width: 425px) {
//add global css
.global_breadcrumb ul li a {font-size: 12px;padding: 5px 10px;}
}