
.c_ourcomp_brand_strategy {
    h3 {
        margin-bottom: 24px
    }

    p {
        font-family: $noto-light;
        font-size: 16px !important;
        margin: 0px !important;
    }

    .tem-header-section {
        margin-bottom: 72px;
    }

    .card {
        background-color: transparent !important;
        margin-top: 0px !important;

        .img-cont {
            margin-bottom: 36px;
        }

        .card-body {
            padding: 0px 1.5rem;
            text-align: center;
        }

        .swiper-container {
            padding-bottom: 0em !important;
        }
    }

    .swiper-container {
        padding: 0px 0px 3em 0px;
    }

    .swiper-container .swiper-wrapper .swiper-slide .card .img-cont img {
        width: 98px;
        height: 98px;
    }

    .swiper-container .swiper-wrapper .swiper-slide .card .img-cont {
        text-align: center;
        @extend %default-bg-image;
        text-align: center;
    width: 98px;
    height: 98px;
    margin: 0 auto 36px;
    border-radius: 100%;
    }

    .c_ourcomp_brand_strategy .card .img-cont {
        margin-bottom: 36px;
    }

    .swiper-container .swiper-pagination {
        bottom: 0;
        left: 0px;
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 575.98px) {
 
    .c_ourcomp_brand_strategy {
        padding: 20px;

        h3 {
            margin-bottom: 16px;
        }

        p {
            font-size: 12px !important;
        }

        .card-body {
            padding: 0px 2.5rem;
            text-align: center;
        }

        .tem-header-section {
            margin-bottom: 30px;
        }

        .card-body {
            padding: 0px;
        }

        .swiper-container .swiper-pagination {
            bottom: 0px;
            left: 0%;
            width: 100%;
            text-align: center !important;
        }

        .swiper-container .swiper-wrapper .swiper-slide .card .card-body {
            min-width: 323px;
        }

        .swiper-container .swiper-wrapper .swiper-slide .card {
            margin-top: 25px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

        .swiper-container .swiper-wrapper .swiper-slide {
            width: 100% !important;
        }

        .card .img-cont {
            margin-bottom: 30px;
        }

        .swiper-container {
            padding: 0px 0px 0em 0px;
        }
    }

    //add global css
    .global_breadcrumb ul li a {
        font-size: 12px;
        padding: 5px 10px;
    }

}