//Safari 9+ hacks

@supports (-webkit-appearance:none) {
  .c_ourcomp_other_director .card a {
    min-height: 380px;
}

}

.c_ourcomp_other_director .card-mainheading {
  width: 70%;
  margin: 0 auto;
}

.c_ourcomp_other_director .swiper-container {
  padding-bottom: 40px;
}

.c_ourcomp_other_director .swiper-pagination-clickable .swiper-pagination-bullet {
  color: #211e20;
  opacity: 0.6;
  width: 10px;
  height: 10px;
}

.c_ourcomp_other_director .swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0;
  left: 10px;
  width: 100%;
  text-align: left !important;
}

.swiper-pagination-bullet-active {
  --swiper-theme-color: #ED1C24 !important;
  color: #ED1C24 !important;
  opacity: 1 !important;
}

.c_ourcomp_other_director {
  .swiper-slide {
    height: auto;

    .cards {
      display: flex;
      height: 100%;
    }
  }

  h3 {
    margin-bottom: 39px;
  }

  .card-mainheading h3 {
    margin-bottom: 23px;
  }

  .card {
    @extend %cardbox-shadow;
    background-color: #ffffff;
    border-radius: 16px;
    // box-shadow:0 10px 20px 0 rgba(0, 0, 0, 0.1);
    border: 0px;
    height: 100%;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 10px;
    width: 100%;

    a {
      display: flex;
      flex-flow: column nowrap;
      height: 100%;
      
      
    }


    .card_content {
      padding: 15px 18px 20px 18px;
      -webkit-box-flex: 1;
      flex: 1 1 auto;

      .card_title {
        color: #333333;
        font-family: $heavy;
        font-size: 20px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        margin-bottom: 7px;
      }

      .card_text {
        font-size: 14px;
        line-height: normal;
        color: #211e20;
      }
    }

    //swiper slider

    /*g-classs*/
    .swiper-pagination-bullets {
      bottom: 0px !important;
    }

    .swiper-wrapper {
      margin-bottom: 3em;
      width: 73.8%;
    }

    .swiper-slide {
      width: 100%;
    }

    @media (min-width: 31.25em) {
      .container {
        padding-right: 0px;
      }

      .swiper-wrapper {
        flex-wrap: wrap;
        width: 100%;
      }

      .container {
        padding-right: 0px;
      }
    }

    @media (min-width: 31.25em) {
      .swiper-slide {
        width: 50%;
        height: auto;
      }
    }

    @media (min-width: 43.75em) {
      .swiper-slide {
        width: 33.33333333333%;
      }
    }

    @media (min-width: 53em) {
      .swiper-slide {
        width: 25%;
        flex-wrap: wrap;
      }
    }
  }

  .card_image {
    width: 100%;
    padding: 0px 40px 20px;
    background-position: center center;
    overflow: hidden;
    position: relative;
  }

  @media (min-width: 40rem) {
    .cards_item {
      width: 50%;
    }
  }

  @media (min-width: 56rem) {
    .cards_item {
      width: 25%;
    }
  }
}

@media (max-width: 768px) {
  .c_ourcomp_other_director {
    .card-mainheading {
      text-align: left !important;

      h3 {
        margin-bottom: 16px;
      }

      p {
        margin-bottom: 30px;
      }

      .swiper-pagination-clickable .swiper-pagination-bullet {
        display: none;
      }
    }
  }

  .corpconte {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    //margin-right: -15px;
  }

  //remove clas
  .card-mainheading {
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 425px) {

  .c_ourcomp_other_director {
    h3 {
      margin-bottom: 30px;
    }

    .card-mainheading p {
      font-size: 12px;
    }

    .card-mainheading h3 {
      font-size: 18px;
    }

    .cards {
      flex-wrap: nowrap !important;

      .cards_item {
        padding: 0px 20px 15px 0px;
      }

      .swiper-pagination-clickable .swiper-pagination-bullet {
        display: block;
      }
    }
  }
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 576px) {
  .c_ourcomp_other_director {
    .card{
      margin: 0;
      width: 100%;
    }
  }
}